html {
    font-family: 'Manrope', sans-serif;
    scroll-behavior: smooth;
}

.header {
    flex: 1;
    text-align: end;
    padding: 1%;
    margin: 2%;
    /* dessa gör inget för texten */
    justify-content: flex-end;
    align-items: flex-end;
}

.menuOptions {
    background-color: white;
    border-radius: 20px;
    border-width: 2px;
    border-color: #404040;
    border-style: solid;
    padding: 0.5%;
    margin: 1%;
    text-decoration: none;
    color: Black;
    transition: all 200ms;
}

.menuOptions:hover {
    transition: all 200ms;
    background-color: #d9d9d9;
    box-shadow: 5px 5px 10px -5px rgb(0, 0, 0, 0.4);
}

.menuIMG {
    width: 15px;
    height: 15px;
}

.slideShowIMGHome {
    display: flex;
    height: 300px;
    margin-left: 5%;
    margin-bottom: 2%;
    justify-content: center;
    align-items: center;
    
}
.img2 {
    display: flex;
    width: 100%;
    height: 140%;
}
.SlideShowIMGBILD{
    display: flex;
    position: absolute;
    width: 35%;
    
}
.SlideShowIMGTXT{
    display: flex;
    position: absolute;
    right: 5%;
    max-height: 350px;
    flex-direction: column;
    width: 30%;
    
}
.Skills {
    text-align: center;
    background-color: white;
    border-radius: 20px;
    border-width: 2px;
    border-color: #404040;
    border-style: solid;
    padding: 0.5%;
    margin: 2%;
    text-decoration: none;
    color: Black;
    transition: all 200ms;
    width: 45%;
}
/*#h1Index {
    max-height: 350px;
} THIS DOESNT WORK --> kolla senare på att lägga in denna i slideshowimgbild diven*/
.readMoreBTN{
    text-align: center;
    background-color: white;
    border-radius: 20px;
    border-width: 2px;
    border-color: #404040;
    border-style: solid;
    padding: 1%;
    margin: 1%;
    text-decoration: none;
    color: Black;
    width: 25%;
    transition: all 200ms;
}

.readMoreBTN:hover {
    background-color: #d9d9d9;
    transition: all 200ms;
    box-shadow: 5px 5px 10px -5px rgb(0, 0, 0, 0.4);
}
.AboutMeWrapper{
    flex-direction: column;
    width: 55%;
    border-radius: 20px;
    padding: 0.5%;
    background: rgb(250, 250, 250, 1);
    box-shadow: 5px 5px 10px -5px rgb(0, 0, 0, 0.4), inset 3px 3px 7px -5px rgb(0, 0, 0, 0.4);
    
}


.slideShowIMG1 {
    display: flex;
    width: 100%;
    height: 400px;
    margin-top: 2%;
    justify-content: center;
    align-items: center;
    background-image: url('assets/Banenr test.jpg');
    background-size: 100%;
    box-shadow: 20px 20px 20px -20px rgb(0, 0, 0, 0.4);
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.slideShowIMG2 {
    display: flex;
    width: 100%;
    height: 400px;
    margin-top: 2%;
    justify-content: center;
    align-items: center;
    background-image: url('assets/RegHTest4.jpg');
    background-size: 100%;
    box-shadow: 20px 20px 20px -20px rgb(0, 0, 0, 0.4);
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.slideShowIMG3 {
    display: flex;
    width: 100%;
    height: 400px;
    margin-top: 2%;
    justify-content: center;
    align-items: center;
    background-image: url('assets/LBVATest3.jpg');
    background-size: 100%;
    box-shadow: 20px 20px 20px -20px rgb(0, 0, 0, 0.4);
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.PFPIMG {
    width: 50%;
    height: 50%;
    max-width: 287px;
    max-height: 350px;
    border-radius: 50%;
    border-width: 2px;
    border-color: #404040;
    border-style: solid;
    /* box-shadow: 5px 5px 10px -5px rgb(0, 0, 0, 0.4); */
}


/* HÄR BORJAR DETTA ÄR FÖR "X" ETT */

.Xtest {
    width: 60px;
    height: 60px;
    position: relative;
    margin: 5%;
}

.Xtest:after {
    content: '';
    height: 60px;
    border-left: 10px solid #000;
    position: absolute;
    transform: rotate(45deg);
    left: 28px;
}

.Xtest:before {
    content: '';
    height: 60px;
    border-left: 10px solid #000;
    position: absolute;
    transform: rotate(-45deg);
    left: 28px;
}


/* HÄR SLUTAR DETTA FÖR "X" ETT */

.designstudioTitel {
    flex: 1;
    text-align: center;
}

.fullContainer {
    flex: 1;
    max-width: 100%;
    
}

.container {
    width: 100%;
    margin: 0%;
    background-image: linear-gradient(#f3f3f3 25%, #03ff9e35);
   
}

.tableOFContent1 {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.tableOFContent_Projects{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    
}

.tableOFContent {
    display: flex;
    justify-content: space-around;
    text-align: center;
    height: 15%;
    width: 73%;
    margin: 1%;
    margin-top: 0%;
    padding: 1%;
}
.tableOFContent_a {
    background-color: white;
    border-radius: 20px;
    border-width: 2px;
    border-color: #404040;
    border-style: solid;
    padding: 0.5%;
    margin: 1%;
    text-decoration: none;
    color: Black;
    transition: all 200ms;
}

.tableOFContent_a:hover {
    background-color: #d9d9d9;
    transition: all 200ms;
    box-shadow: 5px 5px 10px -5px rgb(0, 0, 0, 0.4);
}

.tableOFContent_projects {
    background-color: transparent;
    padding: 0.5%;
    margin: 0%;
    text-decoration: none;
    color: Black;
    transition: all 200ms;
    display: flex;
    align-items: center;
    justify-content: center;
}
.IMG_hover{
    width: 50%;
    transition: all 300ms;
}

.IMG_hover:hover{
    
    transition: all 300ms;
   
    width: 100%;
}
.Projects1SkillsRole {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* background-color: #8BF6CD; */
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    
    
}

.Projects1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* background-color: #8BF6CD; */
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    background: linear-gradient(70deg, #FFFFFF 60%, transparent 40%);
    
    
}

.button1Right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 3em;
    margin: 2%;
}

.Projects2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    background: linear-gradient(250deg, #FFFFFF 60%, transparent 50%);
   
}

.dividerLine {
    background-color: hsl(0, 0%, 85%, 0.5);
    border-radius: 20px;
    border-width: 2px;
    border-color: hsl(0, 0%, 85%, 0);
    border-style: solid;
    width: 73%;
    height: 0.5em;
}
/*Gör denna ens något?*/
.dividerToRightLBVA {
    display: flex;
    flex-direction: column;
    width: 45%;
    justify-content: center;
    align-items: center;
    font-size: 250%;
}

.dividerToRight {
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: center;
    align-items: center;
}

.dividerToLeft {
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: center;
    align-items: center;
}

.IMG_portfolio_Logga {
    width: 40%;
}

.IMG_portfolio {
    Width: 80%;
}

.ProjectsPrimary1 {

    flex-direction: column;
    width: 45%;
}

.roleInfo {
    text-align: center;
    background-color: white;
    border-radius: 20px;
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.212);
    border-style: solid;
    padding: 0.5%;
    margin: 2%;
    text-decoration: none;
    color: Black;
    transition: all 200ms;
    width: 45%;
}

.ProjectsPrimary1Home {
    flex-direction: column;
    width: 25%;
    border-radius: 20px;
    padding: 0.5%;
    transition: all 200ms;
}

.ProjectsPrimary1Home:hover {
    transition: all 200ms;
    background: rgb(250, 250, 250, 1);
    box-shadow: 5px 5px 10px -5px rgb(0, 0, 0, 0.4);

}

.ProjectsPrimary1Home_a {
    text-decoration: none;
    color: #000;
}

.ProjectsPrimary2 {

    
    /* justify-content: flex-end;
    align-items: flex-end; */
    flex-direction: column;
    width: 45%;
}

.ProjectsPrimary2Home {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    width: 25%;
    border-radius: 20px;
    padding: 0.5%;
    transition: all 200ms;
}

.ProjectsPrimary2Home:hover {
    transition: all 200ms;
    background: rgb(250, 250, 250, 1);
    box-shadow: 5px 5px 10px -5px rgb(0, 0, 0, 0.4);

}

.ProjectsPrimary2Home_a {
    text-decoration: none;
    color: #000;
}

.testingTXT {
    flex-direction: column;
}


/* HÄR KOMMER SLIDESHOWEN */


/* Slideshow container */

.IntroContent {
    flex: 1;
    padding: 2%;
    position: relative;
    margin: auto;
}


/* Hide the images by default */

.mySlides {
    display: none;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: all 200ms;
    border-radius: 0 3px 3px 0;
    user-select: none;
}



/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Caption text */


/* position: absolute; fuckade upp detta, ersatters med flex */

.text {
    flex: 1;
    color: black;
    font-size: 15px;
    padding: 8px 12px;
    bottom: 8px;
    text-align: center;
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}


/* HÄR SLUTAR SLIDESHOWEN */

* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    
    position: relative;
    margin: auto;
}
.slideshow-container:hover{
   transform: scale(2);
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {

    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgb(0, 0, 0, 0.4);
    color: white;
}

/* Caption text */
.text {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

footer {

    text-align: end;
    background-color: hsl(0, 0%, 85%, 0.5);
    left: 0px;
    width: 100%;
    position: absolute;
    margin-top: 10%;

}

#scroll-to-top-btn {
    animation: pulse 1500ms infinite;
    display: none;
    position: fixed;
    bottom: 60px;
    right: 30px;
    z-index: 99;
    border-color: rgba(0, 0, 0, 0.212);
    border-width: 2px;
    border-style: solid;
    outline: none;
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 0.5%;
    border-radius: 50px;
    transition: all 200ms;
}
@keyframes pulse {
    0%{
        transform: scale(1);
        box-shadow: 0 0 0 0px rgba(3, 255, 158, 0.2);
    }
    70%{
        transform: scale(1);
        box-shadow: 0 0 0 10px #03ff9e33;
    }
    100%{
        transform: scale(1);
       
    }
}

#scroll-to-top-btn:hover {
    background-color: #d9d9d9;
    transition: all 200ms;
    box-shadow: 5px 5px 10px -5px rgb(0, 0, 0, 0.4);
}
.topBTN{
    width: 1em;
    height: 1em;
}
.testprojectHome{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    
}
.txttest{
    max-width: 1000px;
    width: 25%;
  
}
#projectPictureHome{
    
    
}
.projectPictureHome_Aligner{
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: center;
    align-items: center;
}
.test_a{
    display: block;
    text-decoration: none;
    color: #000;
    width: 100%;
    height: 100%;
    transition: all 200ms;
}
.test_a:hover{
    transition: all 200ms;
    background: rgb(250, 250, 250, 1);
    box-shadow: inset 5px -5px 5px -5px rgb(0, 0, 0, 0.4), inset 5px 5px 5px -5px rgb(0, 0, 0, 0.4);
    
   
   
}
.fot{
    margin: 5%;
}


/* border-radius: 20px;
    border-width: 2px;
    
    border-style: solid;
    padding: 0.5%;
    margin: 1%;
    text-decoration: none;
    color: Black;
    transition: all 200ms; */